- title "Sale"

%p
  %strong Description:
  = @sale.description

%p
  = link_to "Edit", edit_sale_path(@sale)
  |
  = link_to "Destroy", @sale, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", sales_path
